About.css

*
{
  margin-bottom:50px ;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: white ;
  width: 100%;
}
.about-page{
  background-color:white;
  box-sizing: border-box;
  /* margin-left: 100px; */
  width: 100%;
}

h1 {
  padding-top: 30px;
  color:#001f3f;
  font-weight: 600;
  text-align:left;
  margin-left: 20px;
  margin-bottom:18px;
}
.ab-content{
  display: flex;
  gap: 30px;
  flex: content;
  flex-direction: row;
  justify-content:space-between;

}
.ab-content p{
  text-size-adjust: 600px;
}
#abimage{
  margin: 40px;
  padding: 15px;
  margin-top: 10px;
  width: 600px;
  height: 350px;
  border: 1px solid black ;
}


.ab-content, .mission, .digdiff, .corevalue, .getting {
  margin-bottom: 18px;
  text-align: left;
  
}

.pp {
  line-height:2;
  /* color: #786c6c; */
  color: black;
  font-size: 20px;
  /* font-weight: 800; */
  text-align:justify;
  margin-bottom: 50px;
}
.corevalue{
  display:flex;
  flex: content;
  flex-direction: row;
  justify-content:space-between;
}
#ff
{
  text-align: center;
}
.key
{
  width: 400px;
  height: 500px;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  transition: 0.8s
}
.mission{
  display: flex;
  gap: 30px;
  flex: content;
  flex-direction: row;
  justify-content:space-between;
}
.mission h1 {
  color:black; 
  text-align: left;
  
}
.mission p{
  margin-right: 40px;

}
#miss{
  margin: 30px;
  padding: 15px;
  margin-top: 10px;
  width: 600px;
  height: 350px;
  border: 1px solid black ;

}

.digdiff{
  display: flex;
  gap: 30px;
  flex: content;
  flex-direction: row;
  justify-content:space-between;
}
.digdiff h1 {
  color:black; 
  text-align: left;

}
#diff{
  margin: 40px;
  padding: 15px;
  margin-top: 10px;
  width: 600px;
  height: 350px;
  border: 1px solid black ;
}

.corevalue h1 {
  color:black; 
  margin-bottom: 30px;
  text-align: left;

}
.corevalue h2{
  color:#001f3f;
  font-weight: 800;
  margin-bottom: 6px;
}
.corevalue p{
  margin-bottom: 25px;
}
.corevalue{
  margin-bottom: 110px;
}
.key:hover p
{
  color: white;
  
}
.key:hover h2
{
 color: black;

}
.key:hover{
  background-color: #F1C812;
}



.divider{
  border-top: 2px solid black;
  margin: 20px 0;
  margin-bottom: 40px;
}
.getting h1 {
  
  color: #001f3f; 
  text-align: left;
  margin-bottom: 30px;

}


.getting{
  background-color: white;
  display: block;
  width:100%;
  height:300px;
  
}
.getting p{
  
  text-align:justify;
  color:aliceblue;

}
#get{
  margin-left:20px ;
  margin-right:20px ;
  color: black;
  padding: 20px;
}
#p{
  text-align:center;
}
#support{
  text-align: center;
  color: black;
  background-color: white;
  border-bottom: black;
  text-size-adjust: 200px;
}
#pleft{
  margin-left: 20px;
}
#ideas
{
  width: 100%;
  height: 500px;
  background-color: #F1C812;
  color: white;
}
#whole
{
  /* position: relative; */
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 35px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
#whole p{
  
  transition: 0.6s;
}
#whole p:hover
{
  transform: scale(1.8);
  cursor: pointer;
}
#span
{
  font-size: 50px;
  font-weight: 900;
}